{erl_opts, [debug_info]}.

{deps, [
  {belka,           {git, "https://github.com/gordonguthrie/belka.git",           {branch, "main"}}},
  {belka_router,    {git, "https://github.com/gordonguthrie/belka-router.git",    {branch, "main"}}},
  {belka_templates, {git, "https://github.com/gordonguthrie/belka-templates.git", {branch, "main"}}},
  {sevastyanov_chess, {git, "https://github.com/gordonguthrie/sevastyanov_chess.git", {branch, "main"}}}

]}.

{plugins, [rebar_mix]}.

{provider_hooks, [
  {post, [{compile, {mix, consolidate_protocols}}]}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, []}
]}.
